body {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/13969336.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6; 
  z-index: -1; 
}


.logo-container {
  position: absolute;
  top: 4%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2; 
}


.logo-container img {
  width: 1500px; 
  height: auto;
}

.text-center{
  color: rgb(52, 52, 155);
  font-family: "DynaPuff", system-ui;
}

.text-center .mt-3{
  margin-top: 20px;
}

.registration-form {
  font-family: "DynaPuff", system-ui;
  color: rgb(52, 52, 155);
  position: relative;
  padding: 20px 20px 60px; 
  height: 475px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: rgba(255, 255, 255, 0.99); 
  margin-top: 50px; 
  z-index: 2; 
}

.custom-register-btn {
  width: 20%; 
  padding: 8px; 
  border-radius: 4px;
  margin-top: 15px;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

.myName{
  font-size: x-small;
}


