body {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/13969336.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.6;
  z-index: -1;
}

.home-content {
  font-family: "DynaPuff", system-ui;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.342); 
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 7px 88px rgba(8, 21, 212, 0.1);
  text-align: center;
  width: 400px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 300%;
  animation: gradientMove 4s ease-in-out infinite;
  z-index: -1;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.welcome-text {
  font-family: "DynaPuff", system-ui;
  color: #242c63;;
  font-size: 1.5rem;
  margin-top: 105px;
  text-shadow: 0 0 5px rgb(0, 191, 255), 0 0 10px rgb(0, 191, 255), 0 0 15px rgb(0, 191, 255), 0 0 20px rgba(0, 191, 255, 0.7);
}


.custom-btn {
  width: 80%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  background-color: #242c63;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 20px rgb(0, 191, 255), 0 0 30px rgba(0, 191, 255, 0.7); 
  transition: transform 0.2s ease, box-shadow 0.3s ease-in-out;
}

.custom-btn:hover {
  transform: scale(1.05);
  background-color: #0f4aec;
  box-shadow: 0 0 20px rgb(0, 191, 255), 0 0 30px rgb(0, 191, 255), 0 0 40px rgba(0, 191, 255, 0.8); 
}

.custom-btn:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.custom-btn-red {
  width: 30%;
  padding: 5px;
  font-size: 1.0;
  color: white;
  background-color: #0a8510; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(5, 240, 83), 0 0 20px rgb(21, 236, 50), 0 0 30px rgba(19, 248, 11, 0.7); 
  transition: transform 0.2s ease, box-shadow 0.3s ease-in-out;
}

.custom-btn-red:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgb(93, 236, 10), 0 0 30px rgb(45, 238, 7), 0 0 40px rgba(162, 255, 56, 0.8); 
}

.custom-btn-red:active {
  transform: scale(0.98); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}


.logo-container {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.profile-section {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: center;
  color: #242c63;;
  font-weight:500;
}

.profile-pic {
  width: 130px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.myName{
  font-size: x-small;
  justify-content: center;
  margin-top: auto;
}

/*----GamePlay-----*/

.select-text {
  font-family: "DynaPuff", system-ui;
  color: rgb(52, 52, 155);
  font-size: 2.5rem;
}

.top-bar {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.back-btn {
  font-family: "DynaPuff", system-ui;
  background-color: #242c63;;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.profile-details .profile-btn {
  background-color: #ccc;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}



.profile-details .profile-btn:hover {
  background-color: #aaa; /* Darker gray on hover */
  transform: scale(1.05);
}




