.top-ranks-page {
    padding: 20px;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    color: #242c63;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}

.level-select {
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

.level-select select {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.level-select select:hover {
    background-color: #eaeaea;
    border-color: #bbb;
}

.level-select select:focus {
    border-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.level-select select option {
    color: #333;
    padding: 10px;
}


.leaderboard {
    margin-top: 20px;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    font-size: larger;
    border-radius: 15px;
}

th {
    background-color: #f4f4f4;
}