.top-ranks-page {
    padding: 20px;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    color: #242c63;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}

.level-select {
    margin: 20px 0;
    margin-top: 80px;
}

.leaderboard {
    margin-top: 20px;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    font-size: larger;
    border-radius: 15px;
}

th {
    background-color: #f4f4f4;
}