body {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/13969336.jpg'); 
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.3; 
  z-index: -1; 
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(13, 1, 185, 0.349), rgba(2, 150, 218, 0.315), rgba(164, 2, 214, 0.253));
  background-size: 300% 300%;
  animation: gradientMove 2.2s ease-in-out infinite;
  z-index: -1;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo-container {
  position: absolute;
  top: 4%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2; 
  
}


.logo-container img {
  width: 1500px; 
  height: auto;
  
}

.text-center{
  color: rgb(52, 52, 155);
  font-family: "DynaPuff", system-ui;
}

.text-center .mt-3{
  margin-top: 20px;
}

.registration-form {
  font-family: "DynaPuff", system-ui;
  color: rgb(52, 52, 155);
  position: relative;
  padding: 20px 20px 60px; 
  height: 520px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: rgba(255, 255, 255, 0.705); 
  margin-top: 85px; 
  z-index: 2; 
}

.login-form {
  font-family: "DynaPuff", system-ui;
  color: rgb(52, 52, 155);
  position: relative;
  padding: 20px 20px 60px; 
  height: 480px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: rgba(255, 255, 255, 0.705); 
  margin-top: 160px; 
  z-index: 2; 
}

.custom-register-btn {
  width: 20%;
  margin-top: 15px;
  padding: 5px;
  font-size: 1.2rem;
  color: white;
  background-color: #242c63;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 20px rgb(0, 191, 255), 0 0 30px rgba(0, 191, 255, 0.7); 
  transition: transform 0.2s ease, box-shadow 0.3s ease-in-out;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

.custom-register-btn:hover {
  box-shadow: 0 0 20px rgb(0, 191, 255), 0 0 30px rgb(0, 191, 255), 0 0 40px rgba(0, 191, 255, 0.8); 
}

.text-center{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.verify-center{
  font-family: "DynaPuff", system-ui;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.email-pic{
  width: 400px;
  height: auto;
}
